@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ebebf0;
  --surface: #ffffff;
  --text-main: #1a1a1c;
  --text-secondary: #5e5e64;
  --accent: #3e50e0;
  --accent-lime: #16a34a;
  --border: #d1d1d6;
  --code-bg: #e2e2e9;
  --success: #28a745;
  --error: #ea4335;
}

[data-theme='dark'] {
  --bg: #0a0a0a;
  --surface: #161618;
  --text-main: #eeeeee;
  --text-secondary: #a0a0a0;
  --accent: #5c6cf2;
  --accent-lime: #a3e635;
  --border: #2c2c2e;
  --code-bg: #1e1e20;
  --success: #34c759;
  --error: #ff453a;
}

html,
body {
  background-color: var(--bg);
  color: var(--text-main);
  margin: 0;
  padding: 0;
}

@theme {
  --font-rubik: 'Rubik', sans-serif;
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-accent-lime: var(--accent-lime);
  --color-border: var(--border);
  --color-code-bg: var(--code-bg);
  --color-success: var(--success);
  --color-error: var(--error);
  --breakpoint-uw: 120rem;
  --breakpoint-3xl: 130rem;
}

body {
  @apply font-rubik bg-bg text-text-main;
}

.sidebar-btn {
  @apply text-text-secondary hover:bg-surface hover:text-accent-lime flex w-full cursor-pointer justify-center rounded-lg border-2 border-transparent py-1.5 transition-all duration-300 outline-none active:scale-95;
}
